# Strip the action tarball to only what GitHub Actions actually runs:
# action.yml (the manifest) and lib/ (the implementation). Everything
# else — CI workflows, READMEs, LICENSE — is excluded from the git archive
# that GitHub downloads when a user references `uses: x-cmd-action/<repo>@v1`.
#
# README.md and LICENSE still live in the GitHub repo at
# github.com/x-cmd-action/<repo>; they're just not shipped in the tarball.
